.bottomsheet.bottomsheet__language,
.screen-language .bottomsheet {
  align-items: flex-start;
  ul.list {
    padding-left: 0;
    width: 100%;

    li {
      width: 100%;
      cursor: pointer;
      user-select: none;
      font-size: $text-large;
      text-align: left;

      @include fluidSpace(padding-top, $space-small);
      @include fluidSpace(padding-bottom, $space-small);
      @include fluidSpace(margin-bottom, 0);

      &:before {
        content: unset;
      }
      &:not(:last-of-type) {
        border-bottom: solid 1px $color-secondary;
      }
    }
  }
}
