.screen-landing {
  background: $color-background;

  justify-content: flex-end;
  padding-bottom: $space-small !important;
  // height: -webkit-fill-available;
  background-size: 100%;
  background-position-x: -65px;
  background-position-y: -50vh;
  background-image: url(../assets/images/img_visual.png);

  h1 {
    margin-top: 0;
    color: $color-text;
  }

  .landing__icon {
    height: 30px;
    align-self: flex-start;
  }

  .shape {
    height: 75%;
    // padding: 0 $space-medium $space-large $space-medium;
    @include fluidSpace(padding-top, 0);
    @include fluidSpace(padding-right, $space-medium);
    @include fluidSpace(padding-bottom, $space-large);
    @include fluidSpace(padding-left, $space-medium);

    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg5IiBoZWlnaHQ9IjI2MSIgdmlld0JveD0iMCAwIDE4OSAyNjEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTI5IDY2LjVDMTUuOCA2MC45IDQuMTY2NjcgMTkuODMzMyAwIDBWMjYxSDE4OVYxNTJDMTgzLjgzMyAxNTQgMTY4LjEgMTU4LjcgMTQ2LjUgMTYxLjVDMTE5LjUgMTY1IDE0OSA3NiAxMjMgNjNDOTcgNTAgNDUuNSA3My41IDI5IDY2LjVaIiBmaWxsPSJ3aGl0ZSIvPjwvc3ZnPg==);

    &--inner {
      width: 100%;
    }
  }

  .landing__links {
    @include fluidSpace(padding-top, $space-medium);
    align-items: center;
    justify-content: center;
  }
  .landing__link {
    color: $color-primary;
    font-weight: 400;
    font-size: $text-normal;
    &--privacy {
      @extend .landing__link !optional;
      text-align: center;
      align-self: center;
    }
    &--seperator {
      color: $color-text;
      font-size: $text-xlarge;
      @include fluidSpace(margin-left, $space-small);
      @include fluidSpace(margin-right, $space-small);
    }
  }
  .landing__paymentmethod {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  ul {
    color: $color-text;
    padding-inline-start: 0;
    svg {
      path {
        fill: $color-primary;
      }
      defs linearGradient {
        stop {
          &:first-child {
            stop-color: $color-primary--dark;
          }
          &:last-child {
            stop-color: $color-primary;
          }
        }
      }
    }
  }
}
