.screen-my-account {
  ul {
    width: calc(100% - #{$space-medium * 2});
    border-radius: 16px;
    // background-color: $color-background;
    // padding: 0;
    // margin: 0;
    list-style: none;
    text-align: start;

    a {
      text-decoration: none;
      display: block;
    }

    li {
      position: relative;
      cursor: pointer;
      border-bottom: none !important;
      padding: 0;

      &:last-of-type {
        span {
          border-bottom: none;
        }
      }

      div {
        display: flex;
        flex-flow: row nowrap;
      }
      span {
        display: block;
        flex: 1;
        font-size: $text-normal;
        padding: $space-medium 0;
        @include fluidSpace(padding-top, $space-medium);
        @include fluidSpace(padding-bottom, $space-medium);
        margin: 0 $space-medium;
        @include fluidSpace(margin-left, $space-medium);
        @include fluidSpace(margin-right, $space-medium);
        color: $color-text;
        font-weight: 400;
        border-bottom: solid 1px rgba($color-text, 0.1);
      }
      svg {
        position: absolute;
        top: 50%;
        // right: $space-medium;
        @include fluidSpace(right, $space-medium);
        transform: translateY(-50%) rotate(-90deg);
        width: 10px;
        height: 10px;
        path {
          fill: $color-primary;
        }
      }
    }
  }

  .btn {
    &__delete {
      padding-left: 0;
      font-weight: 400;
      text-align: start;
    }
  }
}
