div[class^='screen-'].screen-new-test {
  flex-flow: column nowrap;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  overflow-y: hidden;

  color: $color-background;
  @include fluidSpace(padding-bottom, $space-medium);

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  .progressbar {
    @include fluidSpace(margin-bottom, $space-medium);
  }

  .new-test {
    &__header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      h1,
      h2,
      h3 {
        flex: 1;
      }

      &__title {
        @include fluidSpace(padding-top, $space-medium);
        @include fluidSpace(padding-bottom, $space-medium);
        min-height: 1.4rem;
      }

      .btn__close {
        width: 32px;
        height: 32px;
        padding: 0;
      }
    }

    &__pin {
      &__wrapper {
        flex: 1;
      }
      &__pin {
        font-size: toFluid(42px, 56px, 64px);
        @include fluidSpace(margin-top, $space-medium);
        @include fluidSpace(margin-bottom, $space-medium);
        font-weight: 400;
        text-align: center;
      }
    }

    &__components {
      &__title {
        text-align: center;
      }

      &__grid {
        display: flex;
        flex-flow: row wrap;
        width: 100%;

        &__wrapper {
          margin-top: 30px;
          padding-bottom: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
        }

        &__title {
          text-align: center;
        }
        &__cell {
          flex: 0 0 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 30px;
          transition: all 0.6s ease;

          &__icon {
            width: 94px;
            height: 94px;
            transition: all 0.6s ease;
          }

          &__label {
            text-align: center;
            @include fluidSpace(margin-top, $space-small);
            transition: all 0.6s ease;
          }

          &.centered {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 50%;
            left: 0;
            z-index: 100000;

            .new-test__components__grid__cell__label {
              opacity: 0;
            }
            .new-test__components__grid__cell__icon {
              width: 158px;
              height: 158px;
            }
          }
        }
      }
    }

    &__tutorial {
      .new-test__components__grid__cell {
        &__icon {
          height: auto;
        }
      }
    }

    &__license {
      &__input {
        color: rgba($color-text--light, 0.4);
        border: none;
        background-color: transparent;
        font-size: $text-normal;

        &__title {
          color: rgba($color-text--light, 0.6);
          font-size: $text-xsmall;
          text-transform: uppercase;
        }
        &__wrapper {
          border-radius: 10px;
          // padding: $space-small $space-medium;
          @include fluidSpace(padding-top, $space-small);
          @include fluidSpace(padding-bottom, $space-small);
          @include fluidSpace(padding-left, $space-medium);
          @include fluidSpace(padding-right, $space-medium);
          background-color: rgba($color-background, 0.1);
          backdrop-filter: blur(6px);
          // margin-top: $space-small;
          @include fluidSpace(margin-top, $space-small);
        }
      }
      &__list {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;

        &__spacer {
          padding: $space-small 0;
        }
      }
    }
  }

  .btn--next {
    margin-bottom: $space-large;
    @include fluidSpace(margin-bottom, $space-large);
  }
}
