.screen-payment {
  .payment {
    &__header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      h1,
      h2,
      h3 {
        flex: 1;
      }

      &__title {
        @include fluidSpace(padding-top, $space-medium);
        @include fluidSpace(padding-bottom, $space-medium);
        min-height: 1.4rem;
      }

      .btn__close {
        width: 32px;
        height: 32px;
        padding: 0;
      }
    }

    &__coupon {
      flex: 1;

      &__scanner {
        &__container {
          position: fixed;
          width: 100vw;
          max-width: $max-content;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          overflow: hidden;
        }
      }

      &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;

        > svg {
          opacity: 0.3;
          padding: 15%;
          border: solid 1px $color-text--light;
          border-radius: 16px;

          path {
            fill: $color-text--light;
          }
        }
      }
    }
  }
}
