.screen-profile {
  // background: $color-gradient;
  padding: 0 0 !important;

  .bottomsheet {
    // top: $space-medium;
  }

  .available-tests {
    align-items: center;
    // margin-bottom: $space-medium;
    @include fluidSpace(margin-bottom, $space-medium);

    &__text {
      // margin-left: $space-small;
      @include fluidSpace(margin-left, $space-small);
    }
  }
}
