.screen-signup {
  // background: $color-gradient;
  justify-content: flex-start;

  h2 {
    @include fluidSpace(margin-top, $space-large);
    margin-bottom: 0;
  }

  .signup__header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: $space-medium 0;
    @include fluidSpace(padding-top, $space-medium);
    @include fluidSpace(padding-bottom, $space-medium);

    // svg {
    //   width: 32px;
    //   height: 32px;
    // }
  }

  p {
    @include fluidSpace(margin-bottom, $space-medium);
  }

  .signup__content {
    flex: 1;
  }

  .signup__checkmark {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: $color-text--light;

    svg {
      width: 20px;
      height: 20px;
      @include fluidSpace(margin-right, $space-small);
      @include fluidSpace(padding-top, $space-small);
      @include fluidSpace(padding-bottom, $space-small);
    }
  }

  form {
    // margin-top: $space-large;
    @include fluidSpace(margin-top, $space-medium);
  }

  ul {
    li {
      margin-bottom: 0;
    }
  }

  .password__show {
    @include fluidSpace(margin-bottom, $space-small);
    padding-left: 0;
    align-items: center;
    justify-content: center;
  }
}
