@import 'abstracts/breakpoints';
@import 'abstracts/space';
@import 'abstracts/grid.css';
@import 'abstracts/layout';
@import 'abstracts/colors';
@import 'abstracts/typography';
@import 'abstracts/base';
@import 'abstracts/Router';

@import 'components/Input';
@import 'components/PasswordInput';
@import 'components/Checkbox';
@import 'components/List';
@import 'components/Button';
@import 'components/TopBar';
@import 'components/BottomBar';
@import 'components/BottomSheet';
@import 'components/Steps';
@import 'components/Loading';
@import 'components/LicenseCode';
@import 'components/Orb';
@import 'components/Prompt';
@import 'components/RecordButton';
@import 'components/Camera';
@import 'components/Accordion';
@import 'components/ProgressBar';
@import 'components/Table';
@import 'components/UpdateToast';
@import 'components/Switch';
@import 'components/PaymentMethodSwitcher';
@import 'components/LanguageToggle';
@import 'components/ContentHeader';
@import 'components/Questionnaire';

@import 'screens/Landing';
@import 'screens/Login';
@import 'screens/Dashboard';
@import 'screens/MyAccount';
@import 'screens/Signup';
@import 'screens/MyResult';
@import 'screens/NewTest';
@import 'screens/Profile';
@import 'screens/MyLicenses';
@import 'screens/Authentication';
@import 'screens/ChangeAccountData';
@import 'screens/ChangeLanguage';
@import 'screens/Payment';
@import 'screens/LegalPages';

html,
body {
  position: fixed;
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  background: $color-primary;
  max-width: 100vw;
  max-height: 100vh;
  max-height: -webkit-fill-available;
  max-height: -moz-available;
  overflow-x: hidden;
  overflow-y: hidden;
}

// #app{
//   overscroll-behavior-y: contain;
//   overflow-y: hidden;
// }
