$bottombar_height: 72px;
$topbar_height: 56px;

.content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  background: $color-gradient;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $color-gradient;
  transition: opacity ease 0.2s;
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: all;
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-self: center;
    width: 80%;

    max-width: 420px;
  }
  &__wrapper--inner {
    position: relative;
    width: 100%;
    background-color: rgba($color-background, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 16px;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // padding: $space-medium;
    @include fluidSpace(padding, $space-medium);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    * {
      text-align: center;
      color: $color-text--light;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;

    svg {
      position: relative;
      animation: rotate 3s linear 0s infinite reverse;
      circle {
        position: relative;
        transform-origin: center;
        animation-name: load;
        animation-timing-function: ease;
        animation-duration: 0.6s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        transform-box: fill-box;
      }
    }
    @for $i from 1 to 9 {
      .ic_loading_svg__c-#{$i} {
        animation-delay: $i * 0.1s;
      }
    }
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes load {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.2);
    opacity: 0;
  }
}
.content {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  // background: $color-gradient;
  [class^='screen-'] {
    flex: 1;

    @include fluidSpace(padding-left, $space-medium);
    @include fluidSpace(padding-right, $space-medium);
    @include fluidSpace(padding-bottom, $space-xxlarge);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

iframe {
  border: none;
  z-index: 50;
}

html,
body {
  // position: fixed; /* Temporarily commented out to test */
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  background: $color-primary;
  max-width: 100vw;
  max-height: 100vh;
  max-height: -webkit-fill-available;
  max-height: -moz-available;
  overflow-x: hidden;
  // overflow-y: hidden; /* Temporarily commented out to test */
}

// #app{
//   overscroll-behavior-y: contain;
//   overflow-y: hidden;
// }
