$color-primary--light: #af2f70;
$color-primary: #800343;
$color-primary--dark: #3d001f;
$color-secondary: #f2f2f2;
$color-background: #fff;
$color-text: #1a1a1a;
$color-text--mid: rgba(#1a1a1a, 0.6);
$color-text--light: #fff;
$color-gradient: linear-gradient(
  45deg,
  #{$color-primary--dark},
  #{$color-primary} 51%,
  #{$color-primary--light}
);
$color-gradient--light: linear-gradient(
  45deg,
  rgba($color-background, 0.6),
  rgba($color-background, 0.2)
);
$color-gradient--primary: linear-gradient(
  45deg,
  rgba($color-primary, 0.2),
  rgba($color-primary, 0.6)
);
$color-gradient--primary: linear-gradient(
  45deg,
  $color-primary--light,
  $color-primary,
  $color-primary--dark
);
