$space-xsmall: 5px;
$space-small: 10px;
$space-medium: 15px;
$space-large: 20px;
$space-xlarge: 30px;
$space-xxlarge: 40px;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

$base: 3;
@mixin fluidSpace($prop, $ref) {
  $val: strip-unit($ref);

  @media screen and (max-resolution: 3dppx), (min-resolution: 3dppx) {
    #{$prop}: $ref;
  }
  @media screen and (min-resolution: 4dppx) {
    #{$prop}: $val / 4 * $base * 1px;
  }
}

h1 {
  margin: 0;
  @include fluidSpace(margin-top, $space-medium);
  @include fluidSpace(margin-bottom, $space-medium);
}
h2 {
  @include fluidSpace(margin-top, $space-small);
  @include fluidSpace(margin-bottom, $space-small);
}
h3 {
  @include fluidSpace(margin-top, $space-small / 2);
  @include fluidSpace(margin-bottom, $space-small / 2);
}

h4 {
  @include fluidSpace(margin-top, $space-xsmall / 2);
  @include fluidSpace(margin-bottom, $space-xsmall / 2);
}

h5,
h6 {
  margin: 0;
}

/*

$space-xsmall: 5px;
$space-small: 10px;
$space-medium: 15px;
$space-large: 20px;
$space-xlarge: 30px;
$space-xxlarge: 40px;

*/
