.accordion {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include fluidSpace(padding-top, $space-small);
  }

  &__collapsable {
    flex: 1 1 100%;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  &__content {
    ul {
      margin: 0;
    }
  }
  &__icons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include fluidSpace(margin-right, $space-small);
  }
  &__icon {
    width: 30px;
    height: 30px;
    &:not(:last-of-type) {
      @include fluidSpace(margin-right, $space-small);
    }
  }

  &.collapsed {
    .accordion {
      &__collapsable {
        flex: 0;
        flex-basis: 100%;
      }
      &__content {
        height: 0;
      }
    }
  }
}
