.bottomsheet {
  position: fixed;
  width: 100%;
  max-width: $max-content;
  height: calc(100vh - #{$bottombar_height} - #{$space-medium});
  max-height: calc(100vh - #{$bottombar_height} - #{$space-medium});
  top: 100vh;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  background-color: $color-background;
  @include fluidSpace(padding, $space-medium);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: top 0.5s ease;
  overflow-y: auto;
  box-shadow: -3px 0 6px 6px rgba(0, 0, 0, 0.2);
  z-index: 15;
  color: $color-text;

  div.bottomsheet__list .btn {
    color: $color-text--light !important;
  }

  &__frame {
    position: fixed;
    width: 100%;
    max-width: $max-content;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(32px);
    transition: top 0.5s ease, opacity 0.8s ease;
    opacity: 0;

    &.open {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.open {
    @include fluidSpace(top, $space-medium);
  }
  &.peek {
    overflow-y: auto;
    height: auto !important;
    max-height: calc(100vh - #{$bottombar_height} - #{$space-medium});
  }
  &.peek.open {
    top: 64%;
  }

  &.no-bottombar {
    height: calc(100% - #{$space-medium});
    max-height: calc(100vh - #{$space-medium});

    &.peek {
      max-height: calc(100vh - #{$space-medium});
    }
  }

  .spacer {
    flex-shrink: 0;
    height: $bottombar_height + $space-large;
  }

  &__header {
    align-items: flex-start;
    @include fluidSpace(margin-bottom, $space-medium);

    &.inverse {
      flex-flow: row-reverse nowrap;
    }
  }

  &__title {
    margin: 0 !important;
    text-align: start;
    color: inherit !important;
  }

  &__avatar {
    $min-size: 80px;
    $size: 30vw;
    $max-size: 160px;
    position: absolute;
    @include fluidSpace(top, $space-medium);
    @include fluidSpace(right, $space-medium);
    min-width: $min-size;
    min-height: $min-size;
    width: $size;
    height: $size;
    max-width: $max-size;
    max-height: $max-size;
    border-radius: $max-size / 2;
    border: solid 1px $color-primary;
    overflow: hidden;
  }

  .btn + .title {
    @include fluidSpace(margin-left, $space-medium);
  }
  &__list {
    @include fluidSpace(padding-top, 0);
    @include fluidSpace(padding-right, $space-medium);
    @include fluidSpace(padding-bottom, 0);
    @include fluidSpace(padding-left, $space-medium);
    position: relative;
    background-color: $color-secondary;
    border-radius: 16px;
    list-style: none;
    flex-basis: 100%;
    overflow-y: hidden;
    transition: flex-basis 0.3s ease, opacity 0.3s ease;
    text-align: start;

    a {
      text-decoration: none;
      display: block;
      color: inherit !important;
    }

    &__item {
      padding: $space-medium 0;
      @include fluidSpace(padding-top, $space-medium);
      @include fluidSpace(padding-right, 0);
      @include fluidSpace(padding-bottom, $space-medium);
      @include fluidSpace(padding-left, 0);
      cursor: pointer;
      margin: 0;
      color: inherit !important;

      &:not(:last-of-type) {
        border-bottom: solid 1px #1a1a1a;
      }

      span.label {
        display: block;
        font-size: $text-xsmall;
        color: rgba($color-text, 0.6) !important;
        text-transform: capitalize;

        @include fluidSpace(margin-bottom, $space-small / 2);
      }

      div.value {
        color: $color-text !important;
      }
    }

    &.examination {
      .value a.btn {
        color: $color-text--light !important;
      }
    }

    &.no-seperators {
      .bottomsheet__list__item {
        border-bottom: none;
        @include fluidSpace(padding-top, $space-medium);
        @include fluidSpace(padding-right, 0);
        @include fluidSpace(padding-bottom, 0);
        @include fluidSpace(padding-left, 0);

        &:last-of-type {
          @include fluidSpace(padding-top, $space-medium);
          @include fluidSpace(padding-right, 0);
          @include fluidSpace(padding-bottom, $space-medium);
          @include fluidSpace(padding-left, 0);
        }
      }
    }
  }

  .btn {
    &--back {
      width: 32px;
      height: 32px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .btn--close {
    svg {
      rect {
        stroke: $color-primary;
      }
      path {
        fill: $color-primary;
      }
    }
  }

  ul.list {
    li {
      &:before {
        background: $color-gradient--primary;
      }
    }
  }
}
