.bottombar {
  position: fixed;
  height: $bottombar_height;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-start;

  background-color: $color-background;
  box-shadow: -3px 0 6px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

  max-width: $max-content;
  margin: 0 auto;
  transform: translateY($bottombar_height);

  &.empty {
    transform: translateY(calc(#{$bottombar_height} + #{$space-xlarge}));

    .btn--highlight {
      width: 126px;
      height: 72px;
      bottom: $space-large;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 8px;
        z-index: -1;
        background: $color-primary;
        animation: pulse 5s ease 0s infinite;
      }

      svg {
        transform: scale(1.7);
      }
    }
  }

  &.show {
    transform: translateY(0);
  }

  & > .row {
    justify-content: space-around;
    align-items: center;
  }

  .active {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 28px;
      height: 1px;
      background: $color-primary;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .btn {
    background: transparent;

    svg {
      width: 20px;
      height: 20px;
    }

    &--highlight {
      position: relative;
      background: $color-gradient;
      width: 70px;
      height: 40px;
      border-radius: 8px;
      transition: all 0.3s ease;

      svg {
        width: 15px;
        height: 15px;
      }

      a {
        height: 100%;
        padding: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__profilephoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &__wrapper {
      $size: 20px;
      width: $size;
      height: $size;
      border: solid 1px $color-primary--dark;
      border-radius: $size / 2;
      overflow: hidden;
    }
  }

  @keyframes pulse {
    0%,
    70% {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: lighten($color-primary, 20%);
    }
    100% {
      $val: -10px;
      top: $val;
      right: $val;
      bottom: $val;
      left: $val;
      background: rgba($color-primary, 0);
    }
  }
}
