a.btn {
  text-decoration: none;
}

.btn {
  -webkit-appearance: none;
  color: $color-text--light;
  // padding: $space-medium $space-large;
  @include fluidSpace(padding-top, $space-medium);
  @include fluidSpace(padding-bottom, $space-medium);
  @include fluidSpace(padding-left, $space-large);
  @include fluidSpace(padding-right, $space-large);
  background: $color-gradient;
  text-align: center;
  border-radius: $space-small;
  border-width: 0;
  cursor: pointer;
  font-weight: 400;
  transition: background 0.3s ease, background-color 0.3s ease, border 0.3s ease,
    opacity 0.3s ease;

  & > div {
    color: inherit;
  }

  &.alt {
    background: $color-primary;
  }

  &.outline {
    $border-width: 2px;
    background: $color-background !important;
    border: solid $border-width $color-primary;
    color: $color-primary--dark;
    @include fluidSpace(padding-top, $space-medium - $border-width);
    @include fluidSpace(padding-bottom, $space-medium - $border-width);

    &--alt {
      background: transparent !important;
      border: solid $border-width $color-background;
      color: $color-text--light;
    }
  }

  &.disabled,
  &[disabled] {
    background: $color-primary;
    border-color: transparent;
    color: $color-text--light;
    opacity: 0.6;
  }

  &.ghost {
    background: transparent !important;
    color: $color-primary;
    // padding: $space-small $space-medium;
    @include fluidSpace(padding-top, $space-small);
    @include fluidSpace(padding-bottom, $space-small);
    @include fluidSpace(padding-left, $space-medium);
    @include fluidSpace(padding-right, $space-medium);
  }

  &--close {
    width: 32px;
    height: 32px;
    padding: 0 !important;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background: transparent;
    // color: $color-primary;
    // border: solid 1px rgba(#3d001f, 0.2);

    // svg {
    //   width: 16px;
    //   height: 16px;
    // }
  }
  &--back {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: $color-primary;
    border: solid 1px rgba(#3d001f, 0.2);

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
