.content-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  h1,
  h2,
  h3 {
    flex: 1;
  }

  &__title {
    @include fluidSpace(padding-top, $space-medium);
    @include fluidSpace(padding-bottom, $space-medium);
    min-height: 1.4rem;
  }

  .btn__close {
    width: 32px;
    height: 32px;
    padding: 0;
  }
}
