input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='date'],
select {
  appearance: none;
  border: solid 1px rgba(#3d001f, 0.1);
  border-radius: $space-small;
  margin: 0 0 $space-small 0;
  @include fluidSpace(margin-bottom, $space-small);
  @include fluidSpace(padding-top, $space-large);
  @include fluidSpace(padding-bottom, $space-small);
  @include fluidSpace(padding-left, $space-large);
  @include fluidSpace(padding-right, $space-large);
  padding-inline: 0;
  color: $color-text;
  box-shadow: none;
  font-weight: 200;
  line-height: normal;
  padding-top: $space-large;
  padding-bottom: $space-small;
  height: auto;
  background: #fff;
  &[readonly] {
    color: rgba($color-text, 0.6);
  }
  &::placeholder {
    color: $color-text--mid;
  }
  &.alt {
    background: rgba($color-background, 0.2);
    border: solid;
    border-width: 1px;
    border-color: $color-background;
    color: $color-text--light;
    &::placeholder {
      color: $color-text--light;
    }
    option {
      color: $color-text;
    }
  }
  &[disabled]:not(select):not(input[type='date']) {
    border-color: transparent !important;
  }
}

.input {
  &__wrapper {
    position: relative;
    overflow: hidden;
    label {
      position: absolute;
      text-transform: capitalize;
      @include fluidSpace(top, $space-xsmall);
      @include fluidSpace(left, $space-large);
    }
  }
}

input[type='radio'] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  border-color: transparent;

  &:before {
    $size: 24px;
    content: '';
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: $size / 2;
    border: solid 1px $color-background;
    margin-right: 8px;
  }
  &:after {
    $size: 8px;

    position: absolute;
    top: 9px;
    left: 9px;
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: $size / 2;
    background-color: $color-background;
  }
  &:checked {
    &:after {
      content: '';
    }
  }
}

.input__radio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: $color-text;
  label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    margin: $space-small 0 $space-medium 0;
    @include fluidSpace(margin-top, $space-small);
    @include fluidSpace(margin-bottom, $space-medium);

    &.alt {
      label {
        color: $color-text--light;
      }
      .title {
        color: $color-text--light;
      }
      input[type='radio'] {
        &:before {
          border-color: $color-background;
        }
        &:after {
          $size: 8px;

          position: absolute;
          top: 9px;
          left: 9px;
          display: inline-block;
          width: $size;
          height: $size;
          border-radius: $size / 2;
          background-color: $color-background;
        }
        &:checked {
          &:after {
            content: '';
          }
        }
      }
    }

    .title {
      margin: 0;
    }
  }
}

select {
  appearance: none;
  &[disabled] {
    background: transparent;
  }
  option {
    @include fluidSpace(padding-inline-start, $space-medium);
  }
}

select,
input[type='date'] {
  @include fluidSpace(padding-left, $space-medium);
}

input[type='date'][disabled] {
  background: transparent;
}

.form {
  &__hint {
    opacity: 0.6;
    @include fluidSpace(margin-top, $space-small);
    @include fluidSpace(margin-bottom, $space-small);
  }
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-input-password-toggle-button {
  display: none !important;
}

input[type="password"]::-webkit-input-password-toggle {
  display: none !important;
}

input[type="password"]::-o-input-password-reveal-button {
  display: none !important;
}

input[type="password"]::-moz-input-password-toggle {
  display: none !important;
}
