.licensecode {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  // padding: $space-medium;
  @include fluidSpace(padding, $space-medium);
  border-radius: 10px;
  background-color: rgba($color-background, 0.1);
  backdrop-filter: blur(6px);
  font-size: $text-small;
  border: solid 1px transparent;

  &.active {
    border-color: $color-background;
  }

  &:not(:last-of-type) {
    // margin-bottom: $space-medium;
    @include fluidSpace(margin-bottom, $space-medium);
  }

  &__max {
    font-weight: 400;
  }
  &__code {
    flex: 1;
    // margin-left: $space-medium;
    @include fluidSpace(margin-left, $space-medium);
    text-align: end;
    overflow-x: hidden;
    white-space: pre;
    text-overflow: ellipsis;
  }

  &__badge {
    $size: 24px;
    width: $size;
    height: $size;

    position: absolute;
    top: -$size / 2;
    right: 0;
    background: $color-background;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $size / 2;
    font-size: $text-xsmall;
    color: $color-primary !important;
    font-weight: 400;
  }
}
