.orb {
  width: 50px;
  height: 50px;
  background: $color-gradient;
  border-radius: 25px;
  color: $color-background;
  font-size: $text-xlarge;
  justify-content: center;
  align-items: center;

  & > div {
    color: inherit;
  }
}
