.password {
  margin-bottom: 0 !important;

  &__wrapper {
    position: relative;
    margin-bottom: $space-small;
    overflow: hidden;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }

  &__info {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include fluidSpace(right, $space-small);
    top: 50%;

    transform: translateY(-50%);
    color: $color-text--light;
    text-align: center;
    font-size: $text-xsmall;
  }

  &__strength {
    @include fluidSpace(margin-right, $space-small);

    &__indicator {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 3px;
      @include fluidSpace(margin-top, $space-xsmall);
      background-color: $color-background;

      &--inner {
        height: 100%;
        background-color: #be0000;
        &.normal {
          background-color: #be0000;
        }
        &.mid {
          background-color: #ff7416;
        }
        &.strong {
          background-color: #28b200;
        }
      }
    }
  }
}
