.pmswitcher {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  &__item {
    @include fluidSpace(padding-top, $space-xsmall);
    @include fluidSpace(padding-bottom, $space-xsmall);
    @include fluidSpace(padding-left, $space-medium);
    @include fluidSpace(padding-right, $space-medium);
    color: $color-text--light;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    &.active {
      background-color: $color-background;
      color: $color-primary;
    }
  }

  &__wrapper {
    border: solid 2px $color-background;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    &.rounded {
      border-top-left-radius: 8px;
    }
  }
}
