.step {
  $size: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  transition: all 0.4s ease;

  @include fluidSpace(margin-bottom, $space-medium);

  &__index {
    opacity: 0.6;
  }

  &__wrapper {
    height: $size;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    transition: all 0.4s ease;
  }

  &__container {
    display: flex;
    flex: 1;
    justify-content: center;
    overflow-y: auto;

    p {
      @include fluidSpace(margin-bottom, $space-small);
    }
  }

  &__content {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    overflow-y: auto;
  }
  &__title {
    flex: 1;
  }
  &__check {
    $checksize: 20px;
    width: $checksize;
    height: $checksize;
    border-radius: $checksize / 2;
    background-color: $color-background;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    svg {
      width: 10px;
    }
  }
  &__cardinal {
    width: $size;
    height: $size;
    min-width: $size;
    background: $color-gradient--light;
    border-radius: 6px;
    opacity: 1;
    // border: solid 1px $color-background;
    font-size: $text-xlarge;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    @include fluidSpace(margin-right, $space-small);
  }

  &__image {
    width: 100%;
    flex-shrink: 0;
    min-height: 150px;
    object-fit: contain;
    transition: min-height 0.3s ease, height 0.3s ease;
    &.hide {
      height: 0;
      min-height: 0;
    }
  }

  &.done {
    .step {
      &__cardinal,
      &__title {
        opacity: 0.4;
      }
    }
  }
}
