.switch {
  $color: darken($color-secondary, 10%);

  $height: 32px;
  width: 56px;
  height: $height;
  border-radius: $height / 2;
  box-sizing: border-box;
  border: solid 2px $color-primary;
  cursor: pointer;
  transition: border-color 0.3s ease;

  &:before {
    content: '';
    display: block;
    position: relative;
    top: 1px;
    transform: translateX(1.5px);
    width: $height - 6px;
    height: $height - 6px;
    border-radius: $height / 2;
    background-color: $color;
    transition: all 0.3s;
  }

  &__wrapper {
    align-items: center;
    &.disabled {
      label {
        opacity: 0.4;
      }

      .switch,
      .switch.active {
        border-color: $color;
        &:before {
          background-color: $color;
        }
      }
    }
  }

  &.active {
    border: solid 2px $color-primary;
    &:before {
      transform: translateX($height - 6px - 1.5px);

      background-color: $color-primary;
    }
  }
}
