.topbar {
  position: fixed;
  height: $topbar_height;
  padding: 0 $space-medium;
  @include fluidSpace(padding-left, $space-medium);
  @include fluidSpace(padding-right, $space-medium);
  top: 0;
  right: 0;
  left: 0;

  background-color: $color-background;
  box-shadow: -3px 0 6px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  max-width: $max-content;
  margin: 0 auto;
  transform: translateY(-$topbar_height);
  z-index: 100;

  &.show {
    transform: translateY(0);
  }

  & > .row {
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    @include fluidSpace(margin-left, $space-small);
    svg {
      height: 30px;
    }
  }

  &__buttons {
    align-self: flex-end;
  }

  .btn {
    &--back {
      width: 32px;
      height: 32px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
