.toast {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  user-select: none;
  @include fluidSpace(padding, $space-medium);
  bottom: -130vh;
  left: 50%;
  transform: translateX(-50%);
  border-radius: $space-small;
  box-shadow: 0 3px 6px 6px rgba(0, 0, 0, 0.3);
  color: $color-primary;
  background-color: $color-text--light;
  transition: bottom 0.3s ease;
  width: calc(100vw - #{$space-medium * 2});
  max-width: $max-content - $space-medium;

  &.show {
    @include fluidSpace(bottom, $bottombar_height + $space-medium);
  }

  &--update {
    @extend .toast !optional;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__btn {
    height: 100%;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
  }
}
